In [1]:
import pandas as pd
df = pd.read_csv('data/observ.csv')
df.tail()

,id,uuid,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,...,geoprivacy,taxon_geoprivacy,coordinates_obscured,positioning_method,positioning_device,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,509,0324ee47-9351-442b-92a6-a2980a180837,"July 16, 2008",2008-07-16,NaN,Pacific Time (US & Canada),11,minette,Minette Layne-Worthey,2008-07-19 22:32:32 UTC,...,NaN,open,False,NaN,NaN,Red Fox,Vulpes vulpes,Обыкновенная лисица,Mammalia,42069
1,3389,141e92ee-782f-41a1-991f-308680338946,2009-09-05,2009-09-05,NaN,Pacific Time (US & Canada),289,michaeleconomy,NaN,2009-10-16 21:10:41 UTC,...,NaN,open,False,NaN,NaN,Red Fox,Vulpes vulpes,Обыкновенная лисица,Mammalia,42069
2,4785,cfd20ff5-f11f-47de-b9a1-cec06f1277ee,Sept 12 2009,2009-09-12,NaN,Eastern Time (US & Canada),208,drew_avery,NaN,2010-02-06 17:04:36 UTC,...,NaN,open,False,NaN,NaN,Arctic Fox,Vulpes lagopus,Песец,Mammalia,233598
3,7831,17aae66b-19d5-4848-bed3-917d0fdf471f,"July 08, 2010 10:35",2010-07-08,2010-07-08 08:35:00 UTC,Brussels,357,annetanne,NaN,2010-07-17 22:53:14 UTC,...,NaN,open,False,NaN,NaN,Red Fox,Vulpes vulpes,Обыкновенная лисица,Mammalia,42069
4,9381,12d26056-fa0c-49ef-b434-205485e7f657,2010-12-18,2010-12-18,NaN,UTC,160,tiggrx,Tig,2010-12-19 09:40:17 UTC,...,NaN,open,False,NaN,NaN,red fox,Vulpes vulpes,Обыкновенная лисица,Mammalia,42069

In [23]:
df1 = df[['image_url', 'scientific_name', 'common_name']].copy()
for index, row in df1.iterrows():
    spec = row['scientific_name'].split(' ')
    spec = spec[0] + ' ' + spec[1]
    row['scientific_name'] = spec

In [24]:
df1 = df1.groupby('scientific_name').head(1000).reset_index(drop=True)
print(df1)
df1.to_csv('data/observ_cpt.csv', index=False)

                                              image_url   scientific_name  \
0     https://inaturalist-open-data.s3.amazonaws.com...     Vulpes vulpes
1     https://static.inaturalist.org/photos/6001/med...     Vulpes vulpes
2     https://inaturalist-open-data.s3.amazonaws.com...    Vulpes lagopus
3     https://inaturalist-open-data.s3.amazonaws.com...     Vulpes vulpes
4     https://static.inaturalist.org/photos/20262/me...     Vulpes vulpes
...                                                 ...               ...
5681  https://static.inaturalist.org/photos/59830749...  Vulpes ferrilata
5682  https://static.inaturalist.org/photos/60044540...  Vulpes ferrilata
5683  https://inaturalist-open-data.s3.amazonaws.com...      Vulpes zerda
5684  https://inaturalist-open-data.s3.amazonaws.com...      Vulpes zerda
5685  https://inaturalist-open-data.s3.amazonaws.com...  Vulpes ferrilata

              common_name
0     Обыкновенная лисица
1     Обыкновенная лисица
2                   Песец
3     Обыкновенная лисица
4     Обыкновенная лисица
...                   ...
5681     Тибетская лисица
5682     Тибетская лисица
5683                Фенек
5684                Фенек
5685     Тибетская лисица

[5686 rows x 3 columns]